body {
    box-sizing: border-box;
}

.Forca img {
    height: 400px;
    width: 400px;
}
.App{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.Forca button {
    height: 40px;
    margin-top: 35px;
    border-radius: 10px;
    color: white;
    background-color: #27AE60;
    border: 0;
    padding: 5px 20px;
    font-weight: bold;

}

.Forca {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 100px;

}

.Letras1 {
    width: 100%;
    max-width: 1000px;
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.Letras2 {
    width: 100%;
    max-width: 1000px;
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Letra {
    height: 50px;
}

.disabled{
    background-color: #9FAAB5;
    color: #79818A;
}

.Letra button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 0;
}