body {
    box-sizing: border-box;
}
.root{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Forca img {
    height: 400px;
    width: 400px;
}
.App{
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 1000px;
}
.Forca button {
    height: 40px;
    margin-top: 35px;
    border-radius: 10px;
    color: white;
    background-color: #27AE60;
    border: 0;
    padding: 5px 20px;
    font-weight: bold;

}

.Forca {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;

}

.Letras {
    display: grid;
    grid-template-columns: repeat(13,76px);
    width: 100%;
    width: 1000px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Letra{
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}
.disabled{
    background-color: #9FAAB5;
    color: #79818A;
}

.Letra button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 0;
}

.chute{
    width: 100%;
    height: 100px;
}

.chute form{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chute label{
    font-size: 25px;
}
.chute input{
    height: 25px;
    width: 750px;
}